*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(243, 232, 232);
}
#display{
    display: flex;
    justify-content: space-between;
}
.display-main-text{
    text-align: center;
}
.display-prefix{
    text-align: center;
    font-size: 12px;
}
.choice-container{
    display: flex;
    width: 97vw;
    background-color: cadetblue;
    margin-bottom: 10px;
    font-size: 14px;
    padding-right: 10px;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 3px 5px rgb(127, 255, 0, 0.5);
    transform: translateY(-0.2rem);
    transition: transform 200ms;
}
.choice-prefix{
    padding: 10px 15px;
    background-color: rgb(127, 255, 0);
    color: indianred;
}
.choice-text{
    padding: 10px;
    width: 100%;
}
h3{
    font-size: x-large;
    margin-bottom: 4rem;
    text-align: center;
    border: solid 2px black;
}

.correct{
    background-color: limegreen;
}
.incorrect{
    background-color: red;
}